.my-shelf,
.shopping-list,
.add-item, .my-recipes {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border-style: solid;
  border-color: rgb(114, 142, 167);
  padding: 1.5rem;
  min-height: 300px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
}

.my-shelf {
  min-height: 400px;
}

.shopping-list,
.add-itme, .my-recipes {
  min-height: 250px;
}